<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

    <!-- PAGE TITLE -->
    <title>Edit Webinar</title>

    <!-- CSS FILES -->
    <% include ../partials/css-includes %>

</head>

<body id="page-top">

<!-- TOP NAVIGATION -->
<% include ../partials/navbar %>

<div class="container">
    <div class="row">

        <div class="col-lg-8">

    <h1>Edit Webinar</h1>

            <% if(error && error.length > 0){ %>
                <div class="alert dark-red" role="alert">
                    <strong>
                        <%= error %>
                    </strong>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert green" role="alert">
                    <strong>
                        <%= success %>
                    </strong>
                </div>
            <% } %>


            <form action="../<%= webinar._id %>?_method=PUT" method="POST">

                <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input name="webinar[title]" type="text" class="form-control" id="title" value="<%= webinar.title %>" required>
                </div>

                <div class="form-group">
                    <label for="abstract" class="control-label">Abstract</label>
                    <textarea name="webinar[abstract]" type="text" class="form-control" rows="5" required><%= webinar.abstract %></textarea>
                </div>

                <h5>Downloadables</h5>
                <% for (var i = 0; i < webinar.downloads.length; i++) { %>
                <div class="form-row">
                <div class="col">
                    <label for="title" class="control-label">Description</label>
                    <input name="webinar.downloads.description" type="text" class="form-control" id="description" value="<%= webinar.downloads.description[i] %>" required>
                </div>
                    <div class="col">
                        <label for="title" class="control-label">Format</label>
                        <input name="webinar.downloads.format" type="text" class="form-control" id="format" value="<%= webinar.downloads.format[i] %>" required>
                    </div>
                    <div class="col">
                        <label for="title" class="control-label">File Name</label>
                        <input name="webinar.downloads.fileName" type="text" class="form-control" id="title" value="<%= webinar.downloads.fileName[i] %>" required>
                    </div>
                    <div class="col">
                        <label for="title" class="control-label">File Size</label>
                        <input name="webinar.downloads.fileSize" type="text" class="form-control" id="fileSize" value="<%= webinar.downloads.fileSize[i] %>" required>
                    </div>
                </div>
                <% } %>

                <!-- You May Also Like -->
                <div class="form-group">
                    <label for="ymal1Title" class="control-label">YMAL1 Title</label>
                    <input name="webinar[ymal1Title]" type="text" class="form-control" id="ymal1Title" value="<%= webinar.ymal1Title %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal1Img" class="control-label">YMAL1 Image</label>
                    <input name="webinar[ymal1Img]" type="text" class="form-control" id="ymal1Img" value="<%= webinar.ymal1Img %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal1Alt" class="control-label">YMAL1 Alt Text</label>
                    <input name="webinar[ymal1Alt]" type="text" class="form-control" id="ymal1Alt" value="<%= webinar.ymal1Alt %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal1Url" class="control-label">YMAL1 URL</label>
                    <input name="webinar[ymal1Url]" type="text" class="form-control" id="ymal1Url" value="<%= webinar.ymal1Url %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal2Title" class="control-label">YMAL2 Title</label>
                    <input name="webinar[ymal2Title]" type="text" class="form-control" id="ymal2Title" value="<%= webinar.ymal2Title %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal2Img" class="control-label">YMAL2 Image</label>
                    <input name="webinar[ymal2Img]" type="text" class="form-control" id="ymal2Img" value="<%= webinar.ymal2Img %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal2Alt" class="control-label">YMAL2 Alt Text</label>
                    <input name="webinar[ymal2Alt]" type="text" class="form-control" id="ymal2Alt" value="<%= webinar.ymal2Alt %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal2Url" class="control-label">YMAL2 URL</label>
                    <input name="webinar[ymal2Url]" type="text" class="form-control" id="ymal2Url" value="<%= webinar.ymal2Url %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal3Title" class="control-label">YMAL3 Title</label>
                    <input name="webinar[ymal3Title]" type="text" class="form-control" id="ymal3Title" value="<%= webinar.ymal3Title %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal3Img" class="control-label">YMAL3 Image</label>
                    <input name="webinar[ymal3Img]" type="text" class="form-control" id="ymal3Img" value="<%= webinar.ymal3Img %>"  required>
                </div>

                <div class="form-group">
                    <label for="ymal3Alt" class="control-label">YMAL3 Alt Text</label>
                    <input name="webinar[ymal3Alt]" type="text" class="form-control" id="ymal3Alt" value="<%= webinar.ymal3Alt %>" required>
                </div>

                <div class="form-group">
                    <label for="ymal3Url" class="control-label">YMAL3 URL</label>
                    <input name="webinar[ymal3Url]" type="text" class="form-control" id="ymal3Url" value="<%= webinar.ymal3Url %>"  required>
                </div>

                <div class="form-group">
                    <label for="casewebinar" class="control-label">Case webinar Body</label>
                    <textarea name="webinar[webinarCopy]" type="text" id="webinarCopy" class="form-control" placeholder="Full body with HTML markup here" rows="15" required><%= webinar.webinarCopy %> </textarea>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>

            </form>
</div>

<div class="col-lg-1">
</div>

<div class="col-lg-3">
    <a href="../edit" class="btn btn-primary" role="button">Return to Edit Page</a>
</div>
</div>
</div>

<!-- FOOTER -->
<% include ../partials/footer %>

<!-- JAVASCRIPT -->
<% include ../partials/js-includes %>

</body>
</html>
