<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title><%- services.title %> | Pointwise</title>

	<!-- OG TAGS -->
	<meta property="og:url" content="https://www.pointwise.com/services/<%- services.slug %>" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="<%- services.title %> | Pointwise" />
	<meta property="og:description" content="<%- services.slug %>" />
	
	<!-- META DATA -->
	<meta name="description" content="<%- services.slug %>">
	<meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

	<!-- CSS FILES -->
	<% include ../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

	<section id="services-intro">
		<div class="top-level-intro img-fluid" data-src="images/<%- services.imgBack %>">
			<div class="container">

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 intro-message-back">
						<div class="intro-message">
							<h1><%- services.title %></h1>
							<hr class="intro-divider">
							<p>
								<%- services.subHeading %>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-lg-8">
				<%- services.copy %>
			</div>

			<!-- Space between -->
			<div class="col-lg-1">
			</div>

			<!--Right column-->
			<div class="col-lg-3 services-nav">
				<% include ../partials/nav-products %>
			</div>

		</div>
	</div>

	<!-- FOOTER -->
	<% include ../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../partials/js-includes %>

</body>
</html>
