<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title><%- vpat.title %></title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/vpat/<%- vpat.slug %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%- vpat.title %>" />
  <meta property="og:description" content="<%- vpat.description %>" />

  <!-- META DATA -->
  <meta name="description" content="<%- vpat.description %>">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h1><%- vpat.title %></h1>
          <%- vpat.copy %>
      </div>

      <div class="col-lg-1">
      </div>

      <!--Right column-->
      <div class="col-lg-3">

        <div class="support-nav licenses-nav">
            <% include ../partials/nav-confirmation %>
        </div>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>
