<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

    <!-- PAGE TITLE -->
    <title><%- about.title %></title>

    <!-- OG TAGS -->
    <meta property="og:url" content="https://www.pointwise.com/about/<%- about.slug %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- about.title %>" />
    <meta property="og:description" content="<%- about.description %>" />

    <!-- META DATA -->
    <meta name="description" content="<%- about.description %>">
    <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

    <!-- CSS FILES -->
    <% include ../partials/css-includes %>

</head>

<body id="page-top">

<!-- TOP NAVIGATION -->
<% include ../partials/navbar %>

    <%- about.copy %>

<% if (about.slug !== "staff.html") { %>
    <!-- Space between columns -->
    <div class="col-lg-1">
    </div>

    <!-- Column Contents -->
    <div class="col-lg-3">
        <% include ../partials/nav-about %>
    </div>
</div>
</div>
<% } else { %>
<% } %>

<!-- FOOTER -->
<% include ../partials/footer %>

<!-- JAVASCRIPT -->
<% include ../partials/js-includes %>
<script> function initMap() {
		var uluru = {lat: 32.742359, lng: -97.329758};
		var map = new google.maps.Map(document.getElementById('map-travel'), {
			zoom: 13,
			center: uluru
		});
		var marker = new google.maps.Marker({
			position: uluru,
			map: map
		});
	}</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJXBK3i835tJEf2h_KlB7IOzP8AyA4HfE&callback=initMap">
</script>
</body>
</html>
