<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

    <!-- PAGE TITLE -->
    <title>Edit a Yplus Page</title>

    <!-- CSS FILES -->
    <% include ../../partials/css-includes %>

</head>

<body id="page-top">

<!-- TOP NAVIGATION -->
<% include ../../partials/navbar %>

<div class="container">
    <div class="row">

        <div class="col-lg-8">

            <h1>Edit a Yplus Page</h1>

            <form action="../../yplus/page/<%= yplus._id %>?_method=PUT" method="POST">

                <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input name="yplus[title]" type="text" class="form-control" id="title" value="<%= yplus.title %>" required>
                </div>

                <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <textarea name="yplus[description]" type="text" class="form-control" rows="5" required><%= yplus.description %></textarea>
                </div>

                <div class="form-group">
                    <label for="slug" class="control-label">Slug</label>
                    <input name="yplus[slug]" type="text" class="form-control" id="slug" value="<%= yplus.slug %>" required>
                </div>

                <div class="form-group">
                    <label for="copy" class="control-label">Page Contents</label>
                    <textarea name="yplus[copy]" type="text" class="form-control" rows="20" required><%= yplus.copy %></textarea>
                </div>


                <button class="btn btn-primary" type="submit">Submit</button>

            </form>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-3">
            <a href="../page/edit" class="btn btn-primary" role="button">Return to Edit Page</a>
        </div>
    </div>
</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

<!-- JAVASCRIPT -->
<% include ../../partials/js-includes %>

</body>
</html>
