<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

    <!-- PAGE TITLE -->
    <title>Edit News Release</title>

    <!-- CSS FILES -->
    <% include ../../partials/css-includes %>

</head>

<body id="page-top">

<!-- TOP NAVIGATION -->
<% include ../../partials/navbar %>

<div class="container">
    <div class="row">

        <div class="col-lg-8">

            <h1>Edit News Release</h1>

            <form action="../../news/<%= news._id %>?_method=PUT" method="POST">

                <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input name="news[title]" type="text" class="form-control" id="title" value="<%= news.title %>" required>
                </div>

                <div class="form-group">
                    <label for="abstract" class="control-label">Abstract</label>
                    <textarea name="news[abstract]" type="text" class="form-control" rows="5" required><%= news.abstract %></textarea>
                </div>

                <div class="form-group">
                    <label for="postDate" class="control-label">Post Date</label>
                    <input name="news[postDate]" type="text" class="form-control" value="<%= news.postDate %>" required>
                </div>

                <div class="form-group">
                    <label for="displayDate" class="control-label">Display Date</label>
                    <input name="news[displayDate]" type="text" class="form-control" value="<%= news.displayDate %>" required>
                </div>

                <div class="form-group">
                    <label for="year" class="control-label">Year</label>
                    <input name="news[year]" type="text" class="form-control" value="<%= news.year %>" required>
                </div>

                <div class="form-group">
                    <label for="imgUrl" class="control-label">Badge Image URL</label>
                    <input name="news[imgUrl]" type="text" class="form-control" value="<%= news.imgUrl %>">
                </div>

                <div class="form-group">
                    <label for="imgMain" class="control-label">Post Image URL</label>
                    <input name="news[imgMain]" type="text" class="form-control" value="<%= news.imgMain %>">
                </div>

                <div class="form-group">
                    <label for="imgCaption" class="control-label">Post Image Caption</label>
                    <input name="news[imgCaption]" type="text" class="form-control" value="<%= news.imgCaption %>">
                </div>
                <div class="form-group">
                    <label for="imgAltText" class="control-label">Image Alt Text</label>
                    <input name="news[imgAltText]" type="text" class="form-control" value="<%= news.imgAltText %>">
                </div>

                <div class="form-group">
                    <label for="newsRelease" class="control-label">Page Contents</label>
                    <textarea name="news[newsRelease]" type="text" class="form-control" rows="20" required><%= news.newsRelease %></textarea>
                </div>


                <button class="btn btn-primary" type="submit">Submit</button>

            </form>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-3">
            <a href="../../edit" class="btn btn-primary" role="button">Return to Edit Page</a>
        </div>
    </div>
</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

<!-- JAVASCRIPT -->
<% include ../../partials/js-includes %>

</body>
</html>
